<% include ./partials/header %>
<div class="container" >
    <div class="row" >
        <div class="col-md-6 col-sm-6 col-xs-12">
        <h2>About</h2>
        <p> 
            This website is intended to inform, educate, and entertain people about 
            the different parks in California. There several things that the average person might not 
            know about (the tidefalls at McWay and Alamere Falls, the endangered Tule
            Elk Preserve near Point Reyes, "Little Yosemite" at Pfeiffer Big Sur Campgrounds,
            etc.), so these web pages can help plan for a weekend getaway or Saturday afternoon.
             You might ask what's a tidefall? A tidefall is a waterfall that falls directly in the ocean.
        </p>
        <p>
            Moreover this is practice making a full scale app with Bootstrap on the
            front-end and Mongo + Mongoose for the database, Cloudify for images,
            and Express plus a variety of different libraries (Body Parser, View EJS, 
            Method Override, Connect Flash, Passport, etc, etc) on the back-end. Don't
            worry if you don't know the terms above, those things shouldn't matter when 
            using this website.
        </p>
        <p>
            Please provide feedback on the functionality, layout, and feel of the app. 
            Improvements are appreciated and it would help in future projects. 
            Eventually, a similar app will be constructed using React.js.
        </p>
        </div>
    </div>
    <a href="/parks" class="btn btn-primary" >Back to Parks</a>
</div>
<% include ./partials/footer %>