<% include ./partials/header %>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1 id="register-h1">Sign Up!!</h1>
            <form action="/register" method="post"  class="thumbnail" id="register-form">
                <!--<div class="form-group">-->
                <!--    <label>First Name</label>-->
                <!--    <input class="form-control" type="text" name="firstName" placeholder="First"></input>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                <!--    <label>Last Name</label>-->
                <!--    <input class="form-control" type="text" name="lastName" placeholder="Last"></input>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                <!--    <label>Short Bio</label>-->
                <!--    <textarea class="form-control" type="text" name="bio" placeholder="Say a little bit about yourself (public)" maxlength="300"></textarea>-->
                <!--</div>-->
                <div class="form-group">
                    <label>Username*</label>
                    <input class="form-control" type="text" name="username" placeholder="Publicly displayed" required>
                </div>
                <div class="form-group">
                    <label>Email*</label>
                    <input class="form-control" type="email" name="email" placeholder="Email" required>
                </div>
                <div class="form-group">
                    <label>Password*</label>
                    <input class="form-control" type="password" name="password" placeholder="Password" required>
                </div>
                <div class="form-group">
                    <label>Discounts (beta version)</label>
                    <input class="form-control" type="text" name="adminCode" placeholder="Discount Code">
                </div>
                <!--<div class="form-group">-->
                    <!--<label for="avatar">Avatar</label>-->
                    <!--<input  type="file" name="avatar" id="avatar" accept="image/*">-->
                <!--</div>-->
                <p>* required fields</p>
                <button class="btn btn-primary btn-block">Sign Up!</button>
            </form>
        </div>    
    </div>
</div>
<% include ./partials/footer %>